body{
    text-align: center;
    background-color: gray;
    color: black;
}

.title{
    font-size: 24px;
}

.saldo{
    font-size: 20px;
    position: fixed;
    top: 20px;
    right: 20px;

    background-color: rgb(120,120,120);
    padding: 5px;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.saldo:hover{
    background-color: rgb(150,150,150);
    transform: scale(1.02); 
}

.subtitle{
    font-size: 20px;
}

.musumes{
    width: 400px;
    margin: auto;
    text-align: left;
    font-size: 18px;
    line-height: 1.8;
}

.musumes p{
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: rgb(120,120,120);
    padding: 10px 15px;
    border-radius: 10px;
    margin: 8px 0;
    cursor: pointer;
    transition: transform 0.4s ease, scale 0.2s;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.musumes p:hover{
    background-color: rgb(150,150,150);
    scale: 1.02;
}

.apostarButton{
    background-color: rgb(86, 93, 95);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.apostarButton:hover{
    background-color: rgb(150,150,150);
    transform: scale(1.02);
}

.toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    opacity: 0;
    transition: 0.3s;
     z-index: 9999;
}

.toast.show {
    opacity: 1;
}